// ===ABOUT===
.wrapper-about { background-color: $color-gray-100; }

.about {
    display: flex;
    align-items: center;
    justify-content: space-around;

    &__avatar {
        width: $base * 36;
        height: $base * 36;
        border: $base solid $color-black;
        border-radius: 100%;
        object-fit: cover;
    }

    &-content {
        display: inherit;
        flex-basis: 50%;
        flex-direction: column;
        align-items: center;
    }
}
// ===/ABOUT===
