// ===COMMON===
body {

    @include gilroy;

    padding-top: $base * 20;
    margin: 0;
    font-size: $fs-m;
    font-weight: $fw-medium;

    @media (max-width: $breakpoint-md-min) { padding-top: $base * 33; }
}

h2 {
    font-size: $fs-l;
    font-weight: $fw-bold;
}

.wrapper {
    &-outer {
        padding: 0 $base * 5;
        overflow: hidden;
    }

    &-inner {
        max-width: 940px;
        padding: $pd-vert $base * 4;
        margin: 0 auto;
    }
}

.btn {
    &-lang {
        padding: 0;
        font-size: $fs-s;
        font-weight: bold;
        color: $color-gray-300;
        background: none;
        border: none;
        transition: $transition;

        &:active { transform: scale(1.1); }

        &--active { color: $color-black; }
    }
}

.btn-burger {
    $parent: &;

    display: none;
    flex-direction: column;
    width: $base * 8.5;
    margin-left: auto;
    cursor: pointer;

    &__line {
        height: $base;
        margin: $base 0;
        background: $color-black;
        border-radius: $base * 5;
        transition: 0.4s  cubic-bezier(0.68, -0.6, 0.32, 1.6);

        &:nth-of-type(1) { width: 50%; }
        &:nth-of-type(2) { width: 100%; }
        &:nth-of-type(3) { width: 75%; }
    }

    &__checkbox {
        display: none;

        &:checked ~ #{$parent}__line:nth-of-type(1) {
            transform: rotateZ(45deg) translate(6px, 2px);
            transform-origin: bottom;
        }
        &:checked ~ #{$parent}__line:nth-of-type(2) {
            transform: rotateZ(-45deg);
            transform-origin: top;
        }
        &:checked ~ #{$parent}__line:nth-of-type(3) {
            width: 50%;
            transform: translate(14.5px, -7.1px) rotateZ(45deg);
            transform-origin: bottom;
        }
    }

    @media (max-width: $breakpoint-md-min) {
        display: flex;
        margin-left: auto;
    }
}
.ta-c { text-align: center; }

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    white-space: nowrap;
    border: 0;
}

.key {
    padding: $base $base * 2;
    font-weight: $fw-bold;
    border: math.div($base, 2) solid $color-black;
    border-radius: $base;
}

.project-link {
    display: block;
    width: $base * 25;
    margin: 0 auto;
    text-align: center;
    transition: $transition;
    &:hover { transform: scale(1.2); }
    &:active { transform: scale(1); }
}
// ===/COMMON===
