
// ===CONTACTS===
.contact-text { margin-bottom: $base * 10; }

.socials {
    display: flex;
    justify-content: space-between;
    width: $base * 75;
    margin: 0 auto;
    margin-bottom: $base * 10;

    &__item {
        transition: $transition;
        &:hover { transform: scale(1.2); }

        &-img {
            height: $base * 10;
        }
    }
}

.mail {
    display: block;
    color: $color-black;
    text-align: center;
    text-decoration: none;

    &:hover { text-decoration: underline; }
}
// ===/CONTACTS===
