// ===BASE-SECTION===
.wrapper-home {
    position: relative;
    height: 95vh;
}

.circles {
    position: relative;
    z-index: -10;
    width: 0;
    margin: 0 auto;

    &__img {
        position: absolute;
        overflow: hidden;
        border-color: $color-black;
        border-style: solid;
        border-radius: 100%;

        &-1 {
            top: $base * 104;
            right: $base * 66;
            width: $base * 82;
            height: $base * 82;
            border-width: $base * 3.5;
        }

        &-2 {
            top: $base * 72;
            right: $base * 35;
            width: $base * 73;
            height: $base * 73;
            border-width: 1px;
        }

        &-3 {
            top: $base * 116;
            right: $base * 12;
            width: $base * 46;
            height: $base * 46;
            border-width: $base * 1.5;
        }

        &-4 {
            top: $base * 88;
            left: $base * 25;
            width: $base * 80;
            height: $base * 80;
            border-width: math.div($base, 2);
        }

        &-5 {
            top: $base * 75;
            left: $base * 35;
            width: $base * 36;
            height: $base * 36;
            border-width: $base;
        }

        &-6 {
            top: $base * 86;
            left: $base * 65;
            width: $base * 46;
            height: $base * 46;
            border-width: $base * 1.5;
        }
    }
}

.home {
    padding-top: math.div($pd-vert, 3);
    padding-bottom: $pd-vert*5;

    &-content {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;

        &__name {
            font-size: $fs-xl;
            font-weight: $fw-bold;
        }
    }

    @media (max-width: $breakpoint-xs-max) {
        &-content { 
            flex-direction: column;
            align-items: flex-start;

            &__name {
                margin-bottom: $base * 10;
            }
        }

    }
}
// ===/BASE-SECTION===
